// Settings
@import "px-colors-design/_settings.colors.scss";
$inuit-enable-input--regular : true;
@import 'px-forms-design/_base.forms.scss';

.beta-banner {
  background-color: $status-orange4;
  padding: 1rem 5%;
  color: white;
  display: block;
  width: 100%;
}
