// Settings
@import "px-defaults-design/_settings.defaults.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";

$inuit-enable-input--regular : true;

// $inuit-enable-validation-states : true;
// $inuit-enable-error-validation-pseudo-classes : true;
@import 'px-forms-design/_base.forms.scss';
@import "px-headings-design/_base.headings.scss";

@import "px-button-group-design/_objects.button-group.scss";
// Component
:host{
  overflow: visible;
}
.cla__notification{
  position: fixed;
  width: 100%;
}

$inuit-enable-margins : true;
$inuit-enable-paddings--none : true;
@import 'px-spacing-design/_trumps.spacing.scss';
