<html><head><link defer="" rel="import" href="../../../bower_components/polymer/polymer.html">
  <link defer="" rel="import" href="../../../bower_components/px-demo/px-demo-footer.html">
  <link defer="" rel="import" href="../../../bower_components/px-demo/px-demo-footer.html">
  <link defer="" rel="import" href="../../../elements/px-catalog-page/px-catalog-page-behavior.html">
  <link defer="" rel="import" href="../../../elements/px-catalog-page/px-catalog-page-elements.html">
  <link defer="" rel="import" href="../../../elements/px-catalog-code-snippet/px-catalog-code-snippet.html">
  <link defer="" rel="import" href="../../../css/px-catalog-page-styles.html">
  <link defer="" rel="import" href="../../../css/px-catalog-theme-styles.html">
  

  </head><body><dom-module id="view-design-buttons">
    <template>
      <style include="px-catalog-theme-styles px-catalog-page-styles px-catalog-code-styles"></style>
      

      <div class="page">
        
  <div class="page-anchors" id="toc">
    <ul class="toc">
      
  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#buttons', activeAnchor)]]" href="#" anchor="#buttons" on-tap="_handleAnchorTapped">Buttons</a>
    <ul class="toc">
  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#sizes', activeAnchor)]]" href="#" anchor="#sizes" on-tap="_handleAnchorTapped">Sizes</a>
    
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#types-and-behavior', activeAnchor)]]" href="#" anchor="#types-and-behavior" on-tap="_handleAnchorTapped">Types and Behavior</a>
    
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#usage', activeAnchor)]]" href="#" anchor="#usage" on-tap="_handleAnchorTapped">Usage</a>
    
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#buttons-with-icon', activeAnchor)]]" href="#" anchor="#buttons-with-icon" on-tap="_handleAnchorTapped">Buttons with icon</a>
    
  </li>
</ul>
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#bare-buttons', activeAnchor)]]" href="#" anchor="#bare-buttons" on-tap="_handleAnchorTapped">Bare buttons</a>
    <ul class="toc">
  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#behavior', activeAnchor)]]" href="#" anchor="#behavior" on-tap="_handleAnchorTapped">Behavior</a>
    
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#usage-2', activeAnchor)]]" href="#" anchor="#usage-2" on-tap="_handleAnchorTapped">Usage</a>
    
  </li>
</ul>
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#button-groups-toggle-buttons', activeAnchor)]]" href="#" anchor="#button-groups-toggle-buttons" on-tap="_handleAnchorTapped">Button Groups (Toggle buttons)</a>
    <ul class="toc">
  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#usage-3', activeAnchor)]]" href="#" anchor="#usage-3" on-tap="_handleAnchorTapped">Usage</a>
    
  </li>
</ul>
  </li>

  <li class="toc__item">
    <a class$="toc__item__link [[_getTocLinkClassName('#implementation', activeAnchor)]]" href="#" anchor="#implementation" on-tap="_handleAnchorTapped">Implementation</a>
    
  </li>

    </ul>
  </div>

        <div class="page-content">
          <h2 class="page-title">Buttons</h2>
          
          
<p>Buttons allow users to take actions in an interface.
<catalog-picture img-src="../../img/guidelines/design/components/buttons/buttons-hero" img-alt="Px Buttons" caption="Types of Px buttons"></catalog-picture></p>
<h3 id="buttons">Buttons</h3>
<p>Buttons can be used in forms, modal windows, tables, cards, and more to indicate actions to the user.
When text is included in a button, use action verbs that clearly indicate to the user what the result will be when a button is pressed.</p>
<h4 id="sizes">Sizes</h4>
<p>Buttons are available in four sizes. For the most part, the regular size button is the default and recommended size for desktop and mobile applications.
Depending on the context of use, your application may require larger click targets for users (like applications that are meant to be used with protective gloves on, or large operator displays).</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-sizes" img-alt="Px Button Sizes" caption="Px Button Sizes"></catalog-picture></p>
<h4 id="types-and-behavior">Types and Behavior</h4>
<p>Cirrus does not include buttons in alternative colors (red, green, etc). This is intentional, to avoid confusion between buttons and alerts or labels.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/light-button-states" img-alt="Px Light Buttons States and Spec" caption="Px Light Buttons States and Spec"></catalog-picture></p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/dark-button-states" img-alt="Px Dark Buttons States and Spec" caption="Px Dark Buttons States and Spec"></catalog-picture></p>
<h4 id="usage">Usage</h4>
<table>
<thead>
<tr>
<th>Button Type</th>
<th>Usage</th>
</tr>
</thead>
<tbody>
<tr>
<td>Call to Action (CTA)</td>
<td>Create emphasis for the main call to action on the page or component.</td>
</tr>
<tr>
<td>Primary</td>
<td>For a call to action within a button or actions set. Use when a CTA already exists on the page.</td>
</tr>
<tr>
<td>Secondary</td>
<td>Default button style, used for secondary actions on the page or component.</td>
</tr>
<tr>
<td>Tertiary</td>
<td>When giving the user multiple actions, but may want to call attention or visually separate an action. Use sparingly.</td>
</tr>
<tr>
<td>Disabled</td>
<td>When the action cannot be performed until a condition or action is completed on the page</td>
</tr>
</tbody>
</table>
<p>For English and other left-to-right language applications, the secondary buttons should come before the Call to Action (CTA), which should be the last element at the bottom right corner of a component. In this way, the CTA Button is the last thing a user’s eye lands on.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/basic-button-placement-modal" img-alt="Button placement order in component" caption="Button placement order in component"></catalog-picture></p>
<p>Your page should only have one call to action button, but can have various primary and secondary buttons. This is to clearly indicate the path forward to the user. When keyboard shortcuts are used, hitting “Enter” on the keyboard has the same effect as clicking the Call to Action Button.</p>
<p>Multiple primary actions can exist within a page, but stick to a single primary button within a set of buttons in a component or page section.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-order" img-alt="Button placement order" caption="Button placement order"></catalog-picture></p>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/primary-sec-cta" img-alt="Primary actions correct" title="Do" caption="Combine primary and CTA buttons to emphasize the path forward to the user">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/2-cta-dont" img-alt="Primary actions incorrect" title="Don't" caption="Do not have more than one main Call to Action on a page.">
  </catalog-picture>
</div>
<p>The different button types can be used side-by-side depending on the desired effect.</p>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/action-buttons-do" img-alt="Action buttons set correct" title="Do" caption="Create emphasis to the primary action within a set of buttons">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/action-buttons-dont" img-alt="Action buttons set incorrect" title="Don't" caption="Do not mix and match all button types together">
  </catalog-picture>
</div>
<p>When giving users multiple options, a good rule of thumb is to use the CTA button for the main action, and visually separate a destructive or negative action. The distinction can be enforced with a tertiary button.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/basic-button-placement-discard" img-alt="Modal with 3 action choices" caption="Modal with 3 action choices"></catalog-picture></p>
<h4 id="buttons-with-icon">Buttons with icon</h4>
<p>Icons can be used in buttons to better communicate the action that will be triggered.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-with-icons" img-alt="Buttons with Icons" caption="Buttons with Icons"></catalog-picture></p>
<h3 id="bare-buttons">Bare buttons</h3>
<p>Bare buttons lose the outline and fill, and can be used to make the page appear more open.
When there is no text, the icon serves as the click target for the action.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-with-icons-bare-types" img-alt="Bare buttons" caption="Bare buttons"></catalog-picture></p>
<h4 id="behavior">Behavior</h4>
<p>The default, hover and pressed states apply to all bare type of buttons (icon only, icon and text, text only).</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/buttons-with-icons-bare-spec" img-alt="Bare buttons spec" caption="Bare buttons spec"></catalog-picture></p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-with-icons-bare-spec-dark" img-alt="Bare buttons spec (dark theme)" caption="Bare buttons spec (dark theme)"></catalog-picture></p>
<h4 id="usage-2">Usage</h4>
<p>Bare buttons can help emphasize specific actions when combined with outlined and other button styles.</p>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/iconic-buttons-do" img-alt="Iconic buttons correct" caption="Be consistent in the use of iconic buttons">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/buttons-combination-examples" img-alt="Button combination for actions" caption="Combine button styles to create emphasis to certain actions">
  </catalog-picture>
</div>
<p>Bare buttons and iconic buttons can also be used for in-line actions, or as actions in toolbars.</p>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/button-combinations-examples-2" img-alt="Toolbar actions" caption="Bare buttons as actions in toolbar">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/button-combinations-examples-3" img-alt="Contextual Actions" caption="Iconic buttons in-line actions in tables">
  </catalog-picture>
</div>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/iconic-buttons-2-do" img-alt="Iconic buttons grouped actions correct" title="Do" caption="Group together actions to provide a more focused action path, and surface key actions.">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/iconic-buttons-2-dont" img-alt="Iconic buttons overload incorrect" title="Don't" caption="Do not surface all possible actions at all times using iconic buttons.">
  </catalog-picture>
</div>
<h3 id="button-groups-toggle-buttons">Button Groups (Toggle buttons)</h3>
<p>Button groups allow to toggle between similar actions and place them close together. Button groups allow for single or multiple selection from a limited number of options.</p>
<p>When used in multi selection mode, the button group serves as a filter to display multiple options.</p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-groups" img-alt="Button groups" caption="Button Groups"></catalog-picture></p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-group-specs-light" img-alt="Button Groups spec light" caption="Button Groups Spec (light theme)"></catalog-picture></p>
<p><catalog-picture img-src="../../img/guidelines/design/components/buttons/button-group-specs-dark" img-alt="Button Groups spec dark" caption="Button Groups Spec (dark theme)"></catalog-picture></p>
<h4 id="usage-3">Usage</h4>
<p>Button groups can be used to toggle between different views of content in a page.
They are used less frequently than other button types.</p>
<div class="layout">
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/button-groups-do" img-alt="Button groups correct" title="Do" caption="Use button groups to toggle between a small set of options (3-4 max)">
  </catalog-picture>
  <catalog-picture class="layout__item picture-side-by-side" img-src="../../img/guidelines/design/components/buttons/button-groups-dont" img-alt="Button groups incorrect" title="Don't" caption="Do not overwhelm the user with too many toggle options. A dropdown or other switch mechanism would be more appropriate.">
  </catalog-picture>
</div>
<h3 id="implementation">Implementation</h3>
<p>PX CSS implementation for <a href="#/css/visual/buttons/px-buttons-design">Buttons</a> and <a href="#/css/visual/buttons/px-button-group-design">Button Group</a>.</p>

        </div>
      </div>
      <px-demo-footer></px-demo-footer>
    </template>
    <script>Polymer({is:"view-design-buttons",behaviors:[PxCatalogBehavior.Page],_dynamicTheme:!1,ready:function ready(){if(this._dynamicTheme){this.setAttribute("dynamic-theme","")}}});</script>
  </dom-module>
</body></html>